@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'sections/signin';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-moz-selection,
::selection {
  color: #000;
  background: #888;
}

body {
  font-size: 62.5%;
}
